<feebs-layout [feebsThemeRoot]="themeService.currentTheme$ | async"
              [hideHeader]="hideHeader"
              [hideFooter]="true"
              [hideLeft]="true"
              [hideRight]="true">
  <ng-container header>
    <div class="app-header">
      <feebs-header></feebs-header>
    </div>
  </ng-container>
  <ng-container content>
    <feebs-layout [hideHeader]="true"
                  [hideFooter]="true"
                  [hideLeft]="hideLeft"
                  [hideRight]="true">
      <ng-container left>
        <feebs-nav-bar></feebs-nav-bar>
      </ng-container>
      <ng-container content>
        <router-outlet></router-outlet>
      </ng-container>
    </feebs-layout>
  </ng-container>
</feebs-layout>